@import "tailwindcss";

.home {
    background-color: #181A1C;
    font-family: 'Lato', serif;
}

.login {
    @apply bg-[url(/images/bg-login.jpeg)] bg-no-repeat bg-center bg-cover bg-fixed min-h-[100vh];
}

.register {
    @apply bg-[url(/images/register.jpg)] bg-no-repeat bg-center bg-cover bg-fixed min-h-[100vh];
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-hero {
    @apply bg-[url(/images/bg-hero.png)] relative w-full h-[587px] flex items-center justify-center bg-cover bg-center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}